* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  margin: 0px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation bar styles start*/

.nav-container {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  padding: 5px 10px;
}

.nav-container > * {
  margin: 12px 0;
  padding: 0 12px;
  /* border: solid black; */
}

.nav-option:hover {
  color: #7627d4;
}

.logo img {
  width: 90px;
}

nav form button,
nav form input,
nav div button {
  border: none;
  background-color: inherit;
}

nav form button,
nav form input {
  padding: 10px;
}

nav form input {
  width: 100%;
}

nav form input:focus {
  outline: none;
}

nav form {
  flex-grow: 1;
  display: flex;
  border: 1px solid #1c1d1f;
  border-radius: 9999px;
  overflow: hidden;
  background-color: #f7f9fa;
}

.nav-option-img:hover {
  filter: invert(23%) sepia(48%) saturate(6168%) hue-rotate(261deg)
    brightness(83%) contrast(101%);
}

a,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

.nav-option-img {
  width: 20.8px;
}

.a-button-light,
.a-button-dark {
  border: 1px black solid;
  padding: 10px 15px;
  margin-left: 8px;
  /* why this don't overwrite the star  */
  font-weight: 500;
}

.a-button-dark {
  color: white;
  background-color: #1c1d1f;
}

.a-button-light:hover {
  background-color: #f7f9fa;
}

.a-button-dark:hover {
  background-color: black;
}

.lang-button {
  padding: 0 5px;
}

/* Navigation bar styles end*/

/* Header styles start*/

.header-container {
  background-color: #f8f9fb;

  position: relative;
  z-index: -1;

  width: 96%;
  margin: auto;

  display: flex;
  justify-content: space-around;
}

.header-container img {
  width: auto;
}

.header-container div {
  height: 25%;
  width: 400px;
  background-color: white;
  align-self: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.header-container p {
  word-spacing: 5px;
  margin: 20px 0 10px 0;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

/* Header styles end*/

/* Responsive style start */

@media screen and (min-width: 43.75em) {
  .menu-logo {
    display: none;
  }
}

@media screen and (max-width: 80em) {
  .mq1-hide {
    display: none;
  }
}

@media screen and (max-width: 62em) {
  .mq1-hide,
  .mq2-hide {
    display: none;
  }

  .header-container img,
  .header-container div {
    width: 45%;
    font-size: 16px;
  }
}

@media screen and (max-width: 50em) {
  .nav-container div,
  .nav-container form {
    display: none;
  }

  .center.menu-logo,
  .center.logo {
    /* Center them back again */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .nav-container {
    justify-content: space-between;
  }

  .header-container {
    flex-direction: column-reverse;
  }

  .header-container img,
  .header-container div {
    align-self: center;
  }

  .header-container img {
    width: 60%;
  }

  .header-container div {
    width: 100%;
  }
}

/* Responsive style end */

/* Section style start */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.section-container {
  width: 96%;
}

.section-container h2 {
  font-family: "Times New Roman", Times, serif;
}

.section-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.section-container ul button {
  background-color: white;
  border: none;
  color: #6a6f73;
  font-weight: 500;
  font-size: 100%;
  padding: 0;
}

.section-container ul button:hover {
  color: #1c1d1f;
}

.section-container li {
  padding-right: 26px;
  margin-top: 8px;
}

.courses-wrapper {
  border: 1px solid #d1d7dc;
  padding: 20px 25px;
}

.courses-wrapper h3 {
  font-size: 22px;
  letter-spacing: 1.5px;
}

.courses-wrapper p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: justify;
  line-height: 25px;
  min-width: 10rem;
  max-width: 52rem;
}

.courses-wrapper a {
  display: inline-block;
}

.course {
  padding-top: 30px;
}

.course > img {
  border: 1px solid #d1d7dc;
  width: 100%;
}

.course h4 {
  margin: 8px 0 4px;
}

.course a {
  -webkit-line-clamp: 2;
  font-weight: 600;
}

.course a,
.course-author {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.course-author {
  font-size: 75%;
  color: #6a6f73;
  margin-bottom: 6.4px;
  -webkit-line-clamp: 1;
}

.course-rating {
  display: flex;
  font-size: 11.8px;
  margin-bottom: 4px;
}

.course-rating > div {
  margin-right: 4px;
}

.rating-star-wrapper {
  display: flex;
  align-items: center;
}

.course-rating img {
  filter: invert(77%) sepia(69%) saturate(4755%) hue-rotate(3deg)
    brightness(106%) contrast(80%);
  height: 1em;
  padding: 0 2px;
}

.rating-number {
  font-weight: 600;
  color: #b86c0e;
}

.votings-count {
  color: #87878c;
}

.course-price {
  font-weight: 600;
  color: #1c1d1f;
}

.courses-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.category-link {
  margin: 0;
}
/* Section style end */
